body {
    font-family: sans-serif;
    text-align: center;
    margin-top: 30px;
   }
   table {
    border-collapse: collapse;
    margin: 0 auto;
   }
   th, td {
    border: 1px solid #888;
    padding: 10px;
    min-width: 80px;
   }
   th {
    background-color: #8fda73;
   }
   